# Core Dependencies
google-generativeai
tenacity
aiohttp
numpy
networkx
redis
fastapi
pydantic
uvicorn
tiktoken
prometheus-client
orjson
cryptography
scipy
sympy
faiss-cpu
scikit-learn
psutil
rich
plotext
termgraph
colorama
ray
transformers
torch
dotenv
PyJWT
Pillow
torch torchvision
geoip2
